body { margin: 0; font-family: 'Blinker', sans-serif;}


header {
    width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    padding: 0;
    position: relative;
    /*background: url('img/background.jpeg') no-repeat top center fixed #333;*/
    overflow: hidden;
    
}
header article {
    width: 100% ;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    
}

header article div.container{
    width: 640px;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    padding:0;

}

header article figure {
    width: 200px;
    height: 200px;
    display: block;
    margin: 100px 30px 100px 0;
    float: left;
}
header article figure img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    border-radius: 50%;
}

header article div {
    width: 410px;
    height: 200px;
    display: block;
    margin: 100px 0;
    float: left;
}
header article div h1 {  
    color: plum;
    font-size: 3em;
    text-align: left;
    font-weight: 700;
    margin: 60px 0 0 0;
    letter-spacing: 0.025em;
}
header article div h2 {  
    color: #fff;
    font-size: 1.35em;
    text-align: left;
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.15em;
}

header #video-fondo{
    width: 100% ;
    height: 400px;
    display: block;
    margin: 0 auto;
    float: none;
    transform: scale(3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


main {
    width: 100%;
    height: 700px;
    display: block;
    margin: 0 auto;
    float: none;
    padding: 0;
}

/*SECCION IZQUIERDA*/
main section:nth-child(1) {
    width: 35%;
    height: 700px;
    display: block;
    margin: 0;
    float: left;
    padding: 0;
    background: #f0f0f0;
}

main section:nth-child(1) article:nth-child(1) { 
    width: 80%;
    height: auto;
    display: block;
    margin:auto;
    float: none;
 }
main section:nth-child(1) article:nth-child(1) h5 {
    letter-spacing: 0.3em; 
    font-size: 1.3em; 
    text-align: left; 
    text-transform: uppercase; 
    font-weight: 800; 
    padding: 0 0 5px 0; 
    margin: 55px 0 0 0; 
    border-bottom: solid 5px plum;  /*raya amarilla*/
}

main section:nth-child(1) article:nth-child(1) p {  }

main section:nth-child(1) article:nth-child(2) { width: 80%;
    height: auto;
    display: block;
    margin:auto;
    float: none; }

main section:nth-child(1) article:nth-child(2) h5 { 
    letter-spacing: 0.3em; 
    font-size: 1.3em; 
    text-align: left; 
    text-transform: uppercase; 
    font-weight: 800; 
    padding: 0 0 5px 0; 
    margin: 55px 0 0 0; 
    border-bottom: solid 5px plum;  /*raya amarilla*/}

main section:nth-child(1) article:nth-child(2) nav {  }

main section:nth-child(1) article:nth-child(2) nav a {text-decoration: none; color: black; font-size:19px; line-height: 20pt; }

main section:nth-child(1) article:nth-child(2) nav a i { color: purple; }
main section:nth-child(1) article:nth-child(2) nav a span {  }
main section:nth-child(1) article:nth-child(2) nav a:hover {  }
main section:nth-child(1) article:nth-child(2) nav a:hover i {  }
main section:nth-child(1) article:nth-child(2) nav a:hover span {  }

main section:nth-child(1) article:nth-child(3) {  
    width: 80%;
    height: auto;
    display: block;
    margin:auto;
    float: none;
}
main section:nth-child(1) article:nth-child(3) h5 { 
    width: 43%;
    letter-spacing: 0.3em; 
    font-size: 1.3em; 
    text-align: left; 
    text-transform: uppercase; 
    font-weight: 800; 
    padding: 0 0 5px 0; 
    margin: 55px 0 0 0; 
    border-bottom: solid 5px plum;  /*raya amarilla*/ }

main section:nth-child(1) article:nth-child(3) p {  }


/*seccion derecha*/
main section:nth-child(2) {
    width: 65%;
    height: 700px;
    display: block;
    margin: 0;
    float: left;
    padding: 0;
    background: #222;
    color: #f0f0f0;
}
main section:nth-child(2) article:nth-child(1) { 
    width: 80%;
    height: auto;
    display: block;
    margin:auto;
    float: none; }

main section:nth-child(2) article:nth-child(1) h5 { 
    letter-spacing: 0.3em; 
    font-size: 1.3em; 
    text-align: left; 
    text-transform: uppercase; 
    font-weight: 800; 
    padding: 0 0 5px 0; 
    margin: 55px 0 0 0; 
    border-bottom: solid 5px plum; }
    
main section:nth-child(2) article:nth-child(1) ul {  }
main section:nth-child(2) article:nth-child(1) ul li {  }

main section:nth-child(2) article:nth-child(2) {
    width: 80%;
    height: auto;
    display: block;
    margin:auto;
    float: none; 
}

main section:nth-child(2) article:nth-child(2) h5 { 
    letter-spacing: 0.3em; 
    font-size: 1.3em; 
    text-align: left; 
    text-transform: uppercase; 
    font-weight: 800; 
    padding: 0 0 5px 0; 
    margin: 55px 0 0 0; 
    border-bottom: solid 5px plum;
 }
main section:nth-child(2) article:nth-child(2) div.caja-info-works {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works h6 {font-size:16px;  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works p {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works ul {  }
main section:nth-child(2) article:nth-child(2) div.caja-info-works ul li {  }



/*Tamaños Tablets*/
/*
@media only screen and (max-width: 1279px){  }
@media only screen and (max-width: 1199px){  }
@media only screen and (max-width: 1099px){  }
*/

@media only screen and (max-width: 999px){
    main {
        height: auto;
    }
    main section:nth-child(1) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: none;
    }
    main section:nth-child(2) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: none;
    }
}

@media only screen and (max-width: 899px){
    
}

@media only screen and (max-width: 799px){
    
}

@media only screen and (max-width: 699px){
    header {
    
        height: 500px;
        
        background: url('img/background.jpeg') no-repeat top center fixed #333;
        
        
    }

    #video-fondo{
        display: none;
    }
    header article {
        height: auto;
        padding: 75px;
        
    }
    
    header article div.container{
        width: 80%;
        height: auto;
        
    
    }
    
    header article figure {
        margin: 0 auto 40px auto;
        float: none;
    }
    
    
    header article div {
        width: 100%;
        height: auto;
        margin: 100px 0;
        float: left;
    }
    header article div h1 {  
        font-size: 2.5em;
        text-align: center;
        
    }
    header article div h2 {  
        text-align: center;
    }
    
    header #video-fondo{
       
        display: none;
        
    }
    
}

@media only screen and (max-width: 599px){
    header {
    
        height: 500px;
        
        background: url('img/background.jpeg') no-repeat top center fixed #333;
        
        
        
    }
    #video-fondo{
        display: none;    
}
}

/*Tamaños Móviles*/
@media only screen and (max-width: 499px){
    
    header {
    
        height: 500px;
        
        background: url('img/background.jpeg') no-repeat top center fixed #333;
        
        
    }

    #video-fondo{
        display: none;    
}

@media only screen and (max-width: 449px){
    
}

@media only screen and (max-width: 399px){
    
}

@media only screen and (max-width: 349px){
    
}





